{% extends 'base.html' %}
{% load colaborador_tags %}
{% block contenido %}
<div class="container mt-5">
    <center>
    {% if user.is_superuser or request.user|has_group: "Colaborador" %}
        <div class="container-fluid" style="margin-top: 400px;">
            <h1 class="text-center">Eliminar usuario</h1>
            <p class="text-center">¿Estás seguro de que quieres eliminar el usuario "{{ object.username }}"?</p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" name="eliminar_comentarios" id="eliminarcomentarios">
                    <label class="form-check-label" for="eliminar_comentarios">¿Desea eliminar también los comentarios del usuario?</label>
                </div>
                {% if es_colaborador %}
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="eliminar_posts" id="eliminar_posts">
                        <label class="form-check-label" for="eliminar_posts">¿Desea eliminar también los posts del usuario?</label>
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-danger">Sí, eliminar</button>
                <a href="{% url "apps.usuario:usuario_list" %}" class="btn btn-secondary">No, cancelar</a>
            </form>
        </div>
    {% else %}
        <div class="container-fluid" style="margin-top: 300px;">
            <h1 class="text-center">Solo usuarios con permisos pueden acceder a esta página</h1>
        </div>
    {% endif %}
    </center>
</div>
{% endblock %}
