{% extends "base.html" %}
{% load static %}

{% block contenido %}
<center>
<div class="container" style="margin-top: 370px;">
    <div class="messages">
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</p>            
        {% endfor %}
    </div>
    <form method="post" action="{% url 'apps.usuario:logout' %}">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>
</div>
</center>
{% endblock  %}