{% extends "base.html" %}

{% block contenido %}
<div class="container my-5 mx-auto">
    <div class="container-fluid" style="margin-top: 100px;">
        <h1>Agregar nueva categoría</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <input type="submit" value="Agregar" class="btn btn-success">
        </form>
        <div class="container-fluid my-3">
            <a id="boton_post" href="{% url "apps.posts:categoria_list" %}" class="btn btn-primary">Listar todas las categorías</a>
        </div>
    </div>    
</div>
{% endblock  %}
