{% extends "base.html" %}

{% block contenido %}
<div class="container my-5">
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="container-fluid my-3">
            <a id="boton_post" href="{% url "apps.posts:crear_categoria" %}" class="btn btn-primary">Crear nueva categoría</a>
        </div>
        <h1>Crear Post</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <input type="submit" value="Guardar" class="btn btn-success">
        </form>
    </div>    
</div>
{% endblock  %}
