{% extends "base.html" %}
{% load static %}
{% load colaborador_tags %}

{% block contenido %}
<div class="container d-flex justify-content-center align-items-start vh-100">
    <div class="container-fluid">
        {% if user.is_superuser or request.user|has_group:"Colaborador" %}
            <div class="mb-3">
                <a id="boton_post" class="btn btn-primary" href="{% url "apps.posts:crear_post" %}">Crear nuevo post</a>
            </div>
        {% endif %}

        <h2 class="text-center">Ordenar por:</h2>
        <div class="list-group">
            <a href="{% url "apps.posts:posts" %}?orden=reciente" class="list-group-item list-group-item-action active">Más reciente</a>
            <a href="{% url "apps.posts:posts" %}?orden=antiguo" class="list-group-item list-group-item-action">Más antiguo</a>
            <a href="{% url "apps.posts:posts" %}?orden=alfabetico" class="list-group-item list-group-item-action disabled">Orden alfabético</a>
        </div>
    </div>

    <div class="container">
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ post.titulo }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.subtitulo }}</h6>
                    <p class="card-text">{{ post.categoria }}</p>
                    <a id="boton_post" class="btn btn-primary" href="{% url "apps.posts:post_individual" post.id %}">Ingresá a este Post</a>
                </div>
            </div>
        {% empty %}
            <h1 class="text-center">No hay Registros</h1>
        {% endfor %}
    </div>
</div>
{% endblock %}
