{% extends "base.html" %}
{% block contenido %}
{% load colaborador_tags %}

<center>
    <div class="container" style="margin-top: 100px;">
        {% if user.is_superuser or comentario.usuario == user %}
            <div class="card my-5">
                <div class="card-body">
                    <h1 class="card-title">Editar Comentario</h1>
                    <form method="POST" style="margin-bottom: 10px;">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Guardar cambios"/>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="card my-5">
                <div class="card-body">
                    <h1 class="card-title">Editar Comentario</h1>
                </div>
            </div>
        {% endif %}
    </div>
</center>
{% endblock %}
