{% extends "base.html" %}


{% block contenido %}
<figure class="text-center">
    <blockquote class="blockquote">
        <h1>Bienvenido a CodeTechno</h1>
        <p>En CodeTechno, nos apasiona explorar las últimas tendencias y avances en el mundo de la tecnología. <br>Nuestro objetivo es brindarte información detallada y análisis en profundidad sobre todo lo relacionado con la tecnología.</p>
        <br>
        <p>Desde reseñas de los últimos dispositivos hasta tutoriales paso a paso, <br>nuestro equipo de expertos está aquí para guiarte a través del emocionante universo tecnológico. <br>Descubre las innovaciones más recientes, sigue las noticias más candentes y mantente <br>actualizado con los desarrollos que están dando forma al futuro.</p>
        <br>
        <p>Exploramos temas que van desde inteligencia artificial y realidad virtual <br>hasta dispositivos portátiles y avances en la industria de los videojuegos. En CodeTechno, estamos <br>comprometidos a proporcionarte contenido informativo y entretenido que te mantendrá conectado <br>con la vanguardia de la innovación tecnológica.</p>
        <br>
        <p>Sumérgete con nosotros en este emocionante viaje tecnológico. Únete a la experiencia, únete a CodeTechno.</p>
  </blockquote>
</figure>

{% endblock  %}


